<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-PizzaStoreUI.MVC-20161120121830.mdf;Initial Catalog=aspnet-PizzaStoreUI.MVC-20161120121830;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPizzaStoreDataService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://34.193.163.157/pizza-store-data-access/PizzaStoreDataService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPizzaStoreDataService"
                contract="PizzaStoreDataService.IPizzaStoreDataService" name="BasicHttpBinding_IPizzaStoreDataService" />
        </client>
    </system.serviceModel>
</configuration>